In [4]:
# importing libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd  
  
file_path = r'C:\Users\tinao\OneDrive\Radna površina\data mining project\dataset_heart.csv'  # r is there to prevent escape sequence mistakes
df = pd.read_csv(file_path)
  


# Define features and target
x = df.drop('heart disease', axis=1)
y = df['heart disease']
  
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)  
  
#feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)

In [5]:
x

,age,sex,chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,resting electrocardiographic results,max heart rate,exercise induced angina,oldpeak,ST segment,major vessels,thal
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3

In [6]:
x_train

array([[ 0.24755885,  0.67322909, -2.2179839 , ...,  0.68213824,
        -0.70252467,  1.20099532],
       [ 0.02431382, -1.48537847, -0.15331686, ..., -0.95824182,
         0.36446769, -0.87251797],
       [-0.31055374,  0.67322909, -0.15331686, ...,  0.68213824,
        -0.70252467, -0.87251797],
       ...,
       [ 0.24755885, -1.48537847,  0.87901666, ...,  2.3225183 ,
         1.43146005,  1.20099532],
       [-1.09191137,  0.67322909,  0.87901666, ..., -0.95824182,
         0.36446769, -0.87251797],
       [ 1.47540656,  0.67322909,  0.87901666, ...,  0.68213824,
         1.43146005, -0.87251797]])

In [9]:
#Fitting Decision Tree classifier to the training set  
from sklearn.tree import DecisionTreeClassifier  
classifier= DecisionTreeClassifier(criterion='entropy', random_state=0)  
classifier.fit(x_train, y_train) 

#Predicting the test set result  
y_pred= classifier.predict(x_test)

In [10]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)

In [11]:
cm

array([[32,  8],
       [ 8, 20]], dtype=int64)

In [14]:
#Visulaizing the trianing set result  
from matplotlib.colors import ListedColormap  

# importing libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd   


x_set, y_set = x_train, y_train  
x1, x2 = nm.meshgrid(nm.arange(start = x_set[:, 0].min() - 1, stop = x_set[:, 0].max() + 1, step  =0.01),  
nm.arange(start = x_set[:, 1].min() - 1, stop = x_set[:, 1].max() + 1, step = 0.01))  
mtp.contourf(x1, x2, classifier.predict(nm.array([x1.ravel(), x2.ravel()]).T).reshape(x1.shape),  
alpha = 0.75, cmap = ListedColormap(('purple','green' )))  
mtp.xlim(x1.min(), x1.max())  
mtp.ylim(x2.min(), x2.max())  
for i, j in enumerate(nm.unique(y_set)):  
mtp.scatter(x_set[y_set == j, 0], x_set[y_set == j, 1],  
        c = ListedColormap(('purple', 'green'))(i), label = j)  
mtp.title('Decision Tree Algorithm (Training set)')  
mtp.xlabel('Age')  
mtp.ylabel('Estimated Salary')  
mtp.legend()  
mtp.show()

IndentationError: expected an indented block after 'for' statement on line 17 (711966753.py, line 18)